/*
Comment:


*/


body{
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Img/001Home/97.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	text-align: Left;
	padding-left: 15px;

	color:white;
}

.wrapper{
	margin-right: auto;
	margin-left: auto;

max-width: 960px;

padding-right: 10px;
padding-left: 10px;

text-align: center;

}


h1{
	font: caption;
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: sans-serif, serif;
}






.item001{

	width: 50px;
	height: 50px;
	position: relative;
	margin-right: 10px;

}

.item002{

	width: 60px;
	height: 60px;
	position: relative;
	margin-right: 20px;

}

.item003{

	width: 70px;
	height: 70px;
	position: relative;
	margin-right: 30px;

}

.item004{

	width: 80px;
	height: 80px;
	margin-right: 40px;

}

li{
	display: inline;
}



footer{

	
	background-size:50% 50%;

    font-family: sans-serif, serif;
    font-size: 11px;
	text-align: center;
	
	vertical-align: bottom;
	justify-content: bottom;

	position: relative;
	bottom: -0.1;
}

.paragraph1{

	text-align: center;
	font-size: 25px;
	font-family: sans-serif, serif;
}

.column{

	float: left;
	width:10%;
	padding: 5px;
	flex:15%;

}

.row{
	display: flex;
	padding-left: 200px;
	

}

.chevron-up{
	background-color:white;
}


	


